body {
    font-family: Arial;
    background:#f5f6ff;
    padding:20px;
}

h1 {
    color:#222163;
}

button {
    background:#222163;
    color:white;
    padding:10px;
    border:none;
    border-radius:5px;
}

button:hover {
    background:#8576FF;
}

input, select {
    padding:8px;
    margin:5px;
}

table {
    width:100%;
    margin-top:20px;
    border-collapse: collapse;
}

th {
    background:#8576FF;
    color:white;
    padding:10px;
}

td {
    padding:8px;
    border:1px solid #ddd;
}

.historial-box {
    background:white;
    padding:15px;
    border-radius:10px;
    height:500px;
    overflow-y:auto;
}